body { 
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #000;
}

h1 {
    color: #fff;
    font-family: 'Lucida Sans', sans-serif;
}

#controls {
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#elementInput {
    width: 200px;
    justify-content: center;
    align-items: center;
}

#periodic-table {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 5%;
    z-index: 99;
}

#periodic-table img {
    width: 700px;
    height: auto;
}

#d-model {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

canvas { display: block; }

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 5px 10px;
    border: 1px solid #888;
    width: 50%; /* Adjust to half of the screen width */
    height: 50%; /* Adjust to half of the screen height */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25%; /* Center vertically */
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Responsive styles */
@media (max-width: 768px) {
    #periodic-table img {
        width: 300px;
        height: auto;
    }

    .modal-content {
        width: 50%; /* Adjust modal content width for smaller screens */
        height: 50%; /* Adjust modal content height for smaller screens */
        top: 10%; /* Adjust top position for smaller screens */
    }

    #d-model {
        width: 100%;
        height: 100%;
    }

    canvas {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 480px) {
    #elementInput {
        width: 150px;
    }

    h1 {
        font-size: 1.5em;
    }

    .close {
        font-size: 24px;
    }
}
