<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Focus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="controls">
        <section id="title-section">
        <h1>Focus</h1>
        </section>
        <input list="symbols" type="text" id="elementInput" placeholder="Enter element symbol (e.g., U)">
            <!-- Datalist for elements suggestions -->
            <datalist id="symbols">
                <option value="H">Hydrogen</option>
                <option value="He">Helium</option>
                <option value="Li">Lithium</option>
                <option value="Be">Beryllium</option>
                <option value="B">Boron</option>
                <option value="C">Carbon</option>
                <option value="N">Nitrogen</option>
                <option value="O">Oxygen</option>
                <option value="F">Fluorine</option>
                <option value="Ne">Neon</option>
                <option value="Na">Sodium</option>
                <option value="Mg">Magnesium</option>
                <option value="Al">Aluminum</option>
                <option value="Si">Silicon</option>
                <option value="P">Phosphorus</option>
                <option value="S">Sulfur</option>
                <option value="Cl">Chlorine</option>
                <option value="Ar">Argon</option>
                <option value="K">Potassium</option>
                <option value="Ca">Calcium</option>
            </datalist>
        <button type="button" onclick="generateModel()">Generate Model</button>
    </div>

    <div id="periodic-table">
        <img src="{{ url_for('static', filename='img/periodic_table.png') }}" alt="Periodic Table">
    </div>

    <!-- Modal for 3D Model -->
    <div id="modelModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="d-model"></div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
